/CrapsGame/nbproject/private/
/JavaApplication6/nbproject/private/
/14253506ŞEREFBATINERYILMAZ/nbproject/private/
/14253506ŞerefBatınEryılmazOdev3/nbproject/private/
/TurtleRabbit/nbproject/private/
/LAB6/build/
/LAB6/nbproject/private/
/14253506ŞerefBatınEryılmazOdev3/build/
/CrapsGame/build/
/14253506ŞerefBatınEryılmazOdev3/dist/
/14253506SerefBatinEryıimazOdev3/nbproject/private/
/14253506SerefBatinEryıimazOdev3/build/
/Odev3/nbproject/private/
/Odev3/build/
/JavaApplicationOdev3/nbproject/private/
/JavaApplicationOdev3/build/
/JavaApplicationOdev3/dist/
/QuizSoru4/nbproject/private/
/QuizSoru4/build/
/MagicSquares/build/
/MagicSquares/nbproject/private/
/j1/nbproject/private/
/j1/build/
/QuizSoru1/nbproject/private/
/QuizSoru1/build/
/QuizSoru2/nbproject/private/
/QuizSoru2/build/
/2017oop/nbproject/private/
/2017oop/build/
/Restaurant/nbproject/private/
/Restaurant/build/
/Proje-1/nbproject/private/
/Proje-1/build/
/GasStation/nbproject/private/
/HelpingStuff/nbproject/private/
/HelpingStuff/build/
/Project 2/nbproject/private/
/Project 2/build/
/sinifP/nbproject/private/
/Project2/nbproject/private/
/Project2/build/
/Project 2/dist/
/Project 3/nbproject/private/
/Project 3/build/
/NYPproject/nbproject/private/
/NYPproject/build/
/Project 3/dist/
/NYPproject/dist/
/SiparisUygulamasi/build/
/SiparisUygulamasi/nbproject/private/
/ÇalışanlarProjesi/build/
/ÇalışanlarProjesi/dist/
/ÇalışanlarProjesi/nbproject/private/